<!doctype html>
<html>

<head>
	<title>Pittsburgh Post-Gazette: Slideshow</title>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/jquery.imagesloaded/3.0.4/jquery.imagesloaded.min.js"></script>
	<script src="js/scripts.js"></script>
	<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
	<link href='css/styles.css' rel='stylesheet' type='text/css'>
</head>

<body>
	
	<div class = "slideshow">
		<div class = "image"></div>
		<div class= "nav left">
			<i class="fa fa-arrow-circle-left"></i>
		</div>
		<div class= "nav right">
			<i class="fa fa-arrow-circle-right"></i>
		</div>
		<div class = "caption"></div>
	</div>
	
</body>

</html>
